.conteinerConName{
    padding-top: 1%;
    display: flex;
}
.category{
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
}
.contCatName{
    text-align: center;
    width: 49%; 
    height: 320px;
    background-color: #212529;
}
.contCatPhoto{
    text-align: center;
    padding-left: 3%;
    width: 50%;
    height: 320px;
}
.btn{
    width: 100%;
    height: 100%;
}
#btnCategory{
    background-color: #212529;
}